<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Edit Your Recipe</title>
  </head>
  <body>
    <form action="/recipes/<%= @recipes.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <h3><label for="name">Receipe Name</label></h3>
      <input type="text" id="name" name="name" value="<%= @recipes.name %>">
      <h3><label for="ingredients">Ingredients</label></h3>
      <textarea type="text" id="ingredents" name="ingredients"  value="<%= @recipes.ingredients %>">
      </textarea>
      <h3><label for="cook_time">Cook Time</label></h3>
      <input type="text" id="cook_time" name="cook_time" value="<%= @recipes.cook_time %>">
      <p><input type="submit" id="submit"></p>
    </form>
  </body>
</html>

