<ul>
<% @recipes.each do |recipe|%>
  <li>
    <a href="/recipes/<%= recipe.id %>">Recipe: <%= recipe.name %></a>
    Ingredients: <%= recipe.ingredients %>
    Cook time: <%= recipe.cook_time %>
  </li>
<% end %>
</ul>