<h4>Recipe:</h4>
<h6>Name: <%= @recipe.name %></h6>
<h6>Ingredients: <%= @recipe.ingredients %></h6>
<h6>Cook Time: <%= @recipe.cook_time %></h6>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button name="delete" value="Delete Recipe"></button>
</form>